@font-face{
    font-family:"Flame-Regular";src:url('../fonts/Flame-Regular.e479d94.eot');
    src:url('../fonts/Flame-Regular.e479d94.eot')
    format("embedded-opentype"),
    url('../fonts/Flame-Regular.33cea01.woff2') format("woff2"),
    url('../fonts/Flame-Regular.244da96.woff') format("woff"),
    url('../fonts/Flame-Regular.c3f0a46.ttf') format("truetype");
    font-weight:700;font-style:normal
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Flame-Regular';
}

html,body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

.clear{clear: both;}

header {
    background-color: #F5EBDC;
    height: 76px;
    z-index: 7;
}

div.center {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

div.logo {
    height: 88px;
    width: 81px;
    z-index: 10;
    min-width: 60px;
}

header > div.center > div.logo > img {z-index: 10;}

.btn-entrar{
    float: right;
    text-decoration: none;
    color: #F5EBDC;
    font-size: 20px;
    background: #D62300;
    margin: 0px 0px 11px;
    padding: 7px 12px;
    cursor: pointer;
    border-radius: 5px;
}

section.delivery {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

section.delivery > a {
    font-size: 18px;
    color: #F5EBDC;
    text-decoration: none;
    background-color: #D42300;
    padding: 12px 12px 12px 12px;
    border-radius: 8px;
    min-width: 300px;
    width: 300px;
    height: 50px;
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-70%);
    cursor: pointer;
}

.dots-flex {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}
.dots.selected {background-color: rgba(255,255,255,0.5)}

.dots {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color:  #fff;
    margin: 0 10px;
    cursor: pointer;
}



@media screen and (min-width: 1025px){
    header > div.center > nav.mobile {display: none;}
    header > div.center > nav.desktop {display: inline-block;}
    header > div.center > div.logo {position: relative;top: 10px;}
    section.delivery {
        background-image: url('../img/banner.jpg');
        height: 861px;
    }
    div.center {
        max-width: 1345px;
    }
    header > div.center > nav.desktop{
        position: relative;
        top: -73px;
        float: right;
        left: -150px;
    }
    header > div.center > nav.desktop a {
        text-decoration: none;
        color: #502314;
        font-size: 22px;
        display: inline-block;
        padding: 10px 30px 10px 30px;
    }
    header > div.center > nav.desktop a.btn-entrar {color: #F5EBDC;position: relative;left: 130px;top: 5px;height: 38px;width: 84px;font-size: 20px;padding: 7px 12px;}

}

@media screen and (max-width:1024px){
    header {
        height: 57.5px;
        padding: 1% 2.5%;
    }
    header > div.center > nav.desktop {display: none;}
    div.logo {
        height: 76px;
        width: 70px;
        min-width: 60px;
    }
    header > div.center > nav.mobile{
        max-width: 80px;
        float: right;
        position: relative;
        top: -72px;
    }
    section.delivery {
        height: 576px;
        width: 100%;
        background-image: url('../img/banner_m.jpg');
    }
    section.delivery > a {
        max-width: 300px;
        width: 280px;
        min-width: 0;
    }
}

